/* Styles for the header */
.logo img {
    width: auto; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}
header {
    display: flex;
    flex-direction: row; /* Change to row for horizontal layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute space between elements */
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 0; /* Align to the left side */
    right: 0; /* Align to the right side */
    z-index: 1000; /* Ensure the header is above other content */
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default padding */
}
header .logo {
    margin-left: 20px; /* Add margin to ensure it's not sticking to the edge */
    font-size: 1.5em; /* Adjust font size */
    font-weight: bold;
    color: white; /* Logo color */
    text-decoration: none;
}
.social-media-icons {
    display: flex;
    align-items: center; /* Center items vertically */
}
.social-media-icons a {
    color: white; /* Icons color */
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px; /* Space between icons */
}
.topnav {
    display: flex;
    justify-content: center; /* Center menu items horizontally */
    width: 100%; /* Take the full width */
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margins */
}
.topnav #myLinks {
    display: flex; /* Display links as flex items */
    flex-direction: row; /* Arrange items in a row */
    align-items: center; /* Center items vertically */
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margins */
}
.topnav a {
    color: white;
    padding: 10px 15px; /* Add padding to anchor tags */
    text-decoration: none;
    font-size: 16px; /* Adjust font size */
    display: block; /* Display anchors as block to enable padding and margin */
    margin-right: 10px; /* Space between menu items */
}
.topnav .icon {
    display: none; /* Hide the icon by default */
}
/* Rest of the CSS remains unchanged */
